
.square {
  width: 6.5vh;
  height: 6.5vh;
  background-color: white;
  margin: 2px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-selected {
  width: 7vh;
  height: 7vh;
  background-color: transparent;
  margin: 2px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square_img{
  width: 7vh;
  height: 7vh;
  pointer-events: none;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 95vw;
}

.board {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  border-radius: 10px;
  box-shadow: 1px 1px 10px orange;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}