@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  background-color: black;
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 0.05rem;
}

.header{
  color: white;
  background-color: #d84315;
  font-size: 1.6em;
  padding: 2px;
  width: 100vw;
  text-align: center;
}

.square {
  width: 6.5vh;
  height: 6.5vh;
  background-color: white;
  margin: 2px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-selected {
  width: 7vh;
  height: 7vh;
  background-color: transparent;
  margin: 2px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square_img{
  width: 7vh;
  height: 7vh;
  pointer-events: none;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 95vw;
}

.board {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #d84315;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #d84315;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: black;
}

.playerInfo {
  color: white;
  width: 90vw;
  height: max-content;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
}

.player2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
}

.player-icon {
  height: 5vh;
  width: 5vh;
  margin: 1vw;
}

.currentPlayer {
  margin-top: 2.5vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gameOptions {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
  margin-top: 16px;
}

.btn {
  background-color: #d84315;
  border: none;
  outline:none;
  color: white;
}

.btn:focus {
  border: none;
  outline: none;
}

.btn-mg {
  width: 100%;
  margin: 0 10px;
  padding: 10px 10vw;
}

.modal-content{
  border-style: solid;
  border-width: 2px;
  border-color: #d84315;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #d84315;
  padding: 0;
  background-color: black;
  color: white;
  margin: 5px;
}

.modal-footer,.modal-header{
  border: 0;
}

/* Landscape  Mobile*/
@media (max-height: 481px) {
  .header{
    height: 0vh;
  }  

  .btn{
    height: 10vh;
    font-size: 4vh;
  }
}